<h1>Admin Dashboard </h1>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Products count
    <span class="badge badge-primary badge-pill"><%= @product_count %></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Categories count
    <span class="badge badge-primary badge-pill"><%= @category_count %></span>
  </li>
</ul>