<h1>Admin Dashboard </h1>

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Products count
    <span class="badge badge-primary badge-pill"><%= @product_count %></span>
  </li>
	<li class="list-group-item list-group-item-primary"><%= link_to "See the product list here.", [:admin, :products] %></li>
</ul>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Categories count
    <span class="badge badge-primary badge-pill"><%= @category_count %></span>
  </li>
	<li class="list-group-item list-group-item-primary"><%= link_to "See the category list here.", [:admin, :categories] %></li>
</ul>